
* {
  box-sizing:content-box;
}


/* body */
body {
  background-color: rgba(66, 66, 66, 0.315);
  padding: 20px;
  font-family: Arial;
}

/* Header */

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: black;
  }
  
  header nav {
    margin: 7px 8px;
    padding-bottom: 30px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 20px,15px;
    font-weight:bolder;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

.Header {
  max-width: 1000px;
}



  
  /* Columns */
  .column {
    float: left;
    flex-wrap: wrap;
    width:100%;
    padding-right:50px;
    padding-bottom: 30px;
  }

  
  /* Content */
  .content {

    padding: 20px;
  }

/* screen sizes */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
